{
	email 970685525@qq.com
}

image.xxww.online {
	reverse_proxy frontend:80
}

api.xxww.online {
	reverse_proxy cliproxy:8317 {
		transport http {
			read_timeout 600s
		}
	}
}

dc.xxww.online {
	reverse_proxy dockercopilot:12712
}
